@mixin wrapFormView {
    width: $formWidth;
    padding: $formPadding;
    background-color: $bgFormColor;
    border-radius: $borderFormRadius;
}

@mixin formView {
    font-size: $fontSizeForm;
    font-family: $fontFamilyForm;
    letter-spacing: $letterSpacingForm;
}

@mixin fontForm {
    font-size: $fontSizeForm;
    font-family: $fontFamilyForm;
    letter-spacing: $letterSpacingForm;
}

@mixin formInput {
    width: $formInputWidth;
    padding: $formInputPadding;  
}

@mixin buttonSubmit {
    width: $buttonSubmitWidth;
    height: $buttonSubmitHeight;
    border-radius: $buttonSubmitBorderRadius;
    color: $buttonSubmitColor;
    background-color: $buttonSubmitBgColor;
    cursor: $buttonSubmitCursor;
    margin-top: $buttonSubmitMarginTop;
    margin-left: $buttonSubmitMarginLeft;
}

@mixin error {
    color: red;
    margin: 10px;
}

@mixin bgContainer {
    background-color: #269;
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
background-image:
 -webkit-linear-gradient(white 2px, transparent 2px),
 -webkit-linear-gradient(0, white 2px, transparent 2px),
 -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
 -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image:
 -moz-linear-gradient(white 2px, transparent 2px),
 -moz-linear-gradient(0, white 2px, transparent 2px),
 -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
 -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
background-image:
 linear-gradient(white 2px, transparent 2px),
 linear-gradient(90deg, white 2px, transparent 2px),
 linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
 linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
}

@mixin bgForm {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}