@mixin wrapFormView {
    width: $formWidth;
    padding: $formPadding;
    background-color: $bgFormColor;
    border-radius: $borderFormRadius;
}

@mixin formView {
    font-size: $fontSizeForm;
    font-family: $fontFamilyForm;
    letter-spacing: $letterSpacingForm;
}

@mixin fontForm {
    font-size: $fontSizeForm;
    font-family: $fontFamilyForm;
    letter-spacing: $letterSpacingForm;
}

@mixin formInput {
    width: $formInputWidth;
    padding: $formInputPadding;  
}

@mixin buttonSubmit {
    width: $buttonSubmitWidth;
    height: $buttonSubmitHeight;
    border-radius: $buttonSubmitBorderRadius;
    color: $buttonSubmitColor;
    background-color: $buttonSubmitBgColor;
    cursor: $buttonSubmitCursor;
    margin-top: $buttonSubmitMarginTop;
    margin-left: $buttonSubmitMarginLeft;
}

@mixin error {
    color: red;
    margin: 10px;
}