@charset "UTF-8";
@import "variables";
@import "mixins";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: $bgColor;
    @include bgContainer;
}

.wrap-first-form, .wrap-second-form, .wrap-third-form, .thanks {
    @include wrapFormView;
    @include bgForm;
    position: absolute;
}

form.form-1-step, form.form-2-step, form.form-3-step {
    @include formView; 
}

.form-input, .form-submit-button, .form-option {
    @include fontForm;
}

.form-title {
    text-align: center;
    @include formView;
}

.form-group {
    margin-bottom: $formGroupMarginBottom;
    display: flex;
}

.form-3-step .form-group, .thanks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-1-step .form-input, .form-2-step .form-input, .form-option {
    @include formInput;
}

.form-3-step .form-input, .form-3-step input:focus {
    padding: $formInputPadding;
    border: none;
}

.form-submit-button {
    @include buttonSubmit;
}

label.error {
    @include error;
}
input.error {
    border: 1px solid red;
}

// Form 2,3
.wrap-second-form, .wrap-third-form {
    display: none;
}

#thirdForm label {
    font-weight: $labelFontWeigt;
    margin-right: $labelformThirdMarginRight;
}

.buttons-third-form {
    display: flex;
    justify-content: center;
}

.buttons-third-form .form-submit-button {
    margin-left: 0;
}

// Select
.select {
    position: relative;
    margin-bottom: $marginBottomSelect;
}

.select::after {
    content: '';
    display: block;

    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
    pointer-events: none;
}

.select select {
    display: block;
    width: 100%;
    background: none;
    border: 1px solid #ccc;
    appearance: none;
    @include formView;
    @include formInput;
}

button:disabled {
    opacity: 0.5;
}

.thanks {
    display: none;
}
.thanks h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
