$bgColor: #cdcacf;
$formWidth: 400px;
$formPadding: 40px;
$bgFormColor: #fff;
$borderFormRadius: 10px;
$fontSizeForm: 16px;
$fontFamilyForm: sans-serif;
$letterSpacingForm: normal;

$formGroupMargin: 10px;

$formInputWidth: 100%;
$formInputPadding: 10px;

$buttonSubmitWidth: 100px;
$buttonSubmitHeight: 50px;
$buttonSubmitBorderRadius: 10px;
$buttonSubmitColor: #fff;
$buttonSubmitBgColor: #0071f0;
$buttonSubmitCursor: pointer;
$buttonSubmitMarginTop: 20px;
$buttonSubmitMarginLeft: ($formWidth - $buttonSubmitWidth)/2;

$marginBottomSelect: 20px;